html {
	min-height: 100%;
}

body {
	min-height: 100%;
    background-image: url('/images/background.png');
	background-repeat: no-repeat;
	background-position: center top;
}

#page {
    max-width: 1000px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
	margin-top: 18%;
    text-align: center;
	font-family: Helvetica, Verdana, sans-serif;
}
